<div class="home">
    <h1>Welcome to Wine Not</h1>
    <p><%= @user_profile.first_name.capitalize %> <%=@user_profile.surname.capitalize %></p>
    <%= @user_profile.image.attached? ? image_tag(@user_profile.image) : image_tag('https://bit.ly/2BywzyH')%>
</div>
